body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-image: url('bg.png');
    background-size: cover; /* Ensure the background image covers the entire container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    width: 100%;
    height: 100vh; /* Ensure the container takes up the full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Make this container the reference point for absolute positioning */
}

.fireworks-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2; /* Ensure fireworks are on top */
}

#fb {
    position: absolute; 
    top: 180px; 
    left: 555px; 
    z-index: 1; 
    border: none;
    overflow: hidden;
}

.image-map-container {
    position: relative;
    display: inline-block;
}

.image-map-container div {
    position: absolute;
    overflow: hidden;
}

.image-map-container img {
    display: none;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.image-map-container div:hover img {
    opacity: 0.9;
}

.image-map-container img[src="Gallery.jpg"] {
    display: block;
}

.notify {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 3fr;
    top: 115px;
    left: 30px;
    max-width: 200px;
    height: 240px;
    padding: 10px;
    background-color:rgb(223, 200, 179);
    border-radius: 20px;
    box-shadow:rgb(244, 201, 164);
    justify-content: center;
}

#comic-button {
    grid-row: 1;
    font-family: 'Madimi One', recursive;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color:ivory;
    background-color: rgb(236, 203, 175);
    border: 2px solid rgb(124, 157, 150);
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(145, 207, 205);
    transition: all 0.3s ease;
}

#comic-button:hover {
    background-color: ivory;
    color: rgb(145, 207, 205);
    border: 2px solid rgb(124, 157, 150);
    box-shadow: 5px 5px 0px rgb(236, 203, 175);
}

#comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
}

.notify p {
    font-family: 'Madimi One', recursive;
    padding: 10px;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: ivory;
    font-weight: bold;
    font-size: 25px;
}

.lequydon {
    top: 125px;
    left: 333px;
    width: 405px;
    height: 304px;
}

.home {
    top: 145px;
    left: 928px;
    width: 192px;
    height: 242px;
}

.present {
    top: 195px;
    left: 1209px;
    width: 243px;
    height: 193px;
}

.ump {
    top: 542px;
    left: 208px;
    width: 166px;
    height: 198px;
}

.forum {
    top: 542px;
    left: 449px;
    width: 166px;
    height: 198px;
}

.sea {
    top: 542px;
    left: 690px;
    width: 166px;
    height: 198px;
}

.motor-license {
    top: 460px;
    left: 980px;
    width: 408px;
    height: 280px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: ivory;
    padding: 10px;
    height: 30px;
    font-size: 30px;;
}

