body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fireworks-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1; /* Ensure fireworks are on top */
}

#fb {
    position: relative;
    z-index: 2; /* Ensure iframe is above the fireworks container */
    border: none;
    border-radius: 18px;
    overflow: hidden;
}

.image-map-container {
    position: relative;
    display: inline-block;
}

.image-map-container div {
    position: absolute;
    overflow: hidden;
}

.image-map-container img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.image-map-container div:hover img {
    opacity: 0.9;
}

.lequydon {
    top: 125px;
    left: 333px;
    width: 405px;
    height: 304px;
}

.home {
    top: 145px;
    left: 928px;
    width: 192px;
    height: 242px;
}

.present {
    top: 195px;
    left: 1209px;
    width: 243px;
    height: 193px;
}

.ump {
    top: 542px;
    left: 208px;
    width: 166px;
    height: 198px;
}

.forum {
    top: 542px;
    left: 449px;
    width: 166px;
    height: 198px;
}

.sea {
    top: 542px;
    left: 690px;
    width: 166px;
    height: 198px;
}

.motor-license {
    top: 460px;
    left: 980px;
    width: 408px;
    height: 280px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

